extends ../layout

block title
	title Contact: CD Early Withdrawal Calculator

block footer
	script(src='/scripts/contact.js')
	script.
		$(document).ready(function () {
			setActiveTab('contact');
		});

block content
	div.container
		form.form-horizontal(method='post', enctype='application/x-www-form-urlencoded')
			legend Contact
			p What do you think about the CD Early Withdrawal Calculator?
			p &nbsp;

			.control-group
				label.control-label(for='name') Name
				.controls
					input#txtName(type='text', name='txtName', class='span4', placeholder='Name', value=form.txtName)
			div(style='display: none;')
				.control-group
					label.control-label(for='address') Address
					.controls
						input#txtAddress(type='text', name='txtAddress', class='span4', placeholder='Address', value=form.txtAddress)
			.control-group
				label.control-label(for='txtEmail') Email
				.controls
					input#txtEmail(type='text', name='txtEmail', class='span4', placeholder='Email', value=form.txtEmail)
			.control-group
				label.control-label(for='txtMessage') Message
				.controls
					textarea#txtMessage(rows='4', name='txtMessage', class='span4') #{form.txtMessage}
			.form-actions
				button#btnSubmit.btn.btn-primary(type="submit") Send

		if status != null
			if status == 1
				h3#contactResult Thanks! Your message has been sent successfully.
			else
				h3#contactResult Please provide all fields and try again.
		else
			h3#contactResult