div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
        div.container
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href="/")
                | CD Early Withdrawal Calculator
            div.nav-collapse.collapse
                ul.nav
                    li#home.active
                        a(href="/")
                            | Home
                    li#calculate
                        a(href="/#top")
                            | Calculator
                    li#about
                        a(href="/about")
                            | About
                    li#contact
                        a(href="/contact")
                            | Contact
