doctype html
html
	head
		block head
			block title
				title CD Early Withdrawal Calculator | Software to View APY with Penalty, Yield, CD Rates
			block meta
				meta(name='description', content='Quick and easy software to view the effective interest rate on a CD, including early withdrawal penalty. Calculate APY when breaking a CD before maturity, find the CD yield, effective interest rate, penalties, and calculate rates for early withdrawal.')
				meta(name='keywords', content='early withdrawal calculator,software,CD,certificate of deposit,interest rate,cd interest rate,early withdrawal penalty,penalties,early withdrawl,bank,CD yield,CD return,break CD,CD penalty,CD early withdrawal')
			link(rel='stylesheet', href='/css/bootstrap.min.css')
			| <style>
			| body { padding-top: 60px; }
			| </style>
			link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
			link(rel='stylesheet', href='/css/style.css')
			script(src='/scripts/analytics.js')
	body
		include header

		block content

		include footer